@media screen and (max-width:576px) {


    /* 1st part responsive */
    .navbar-right {
        display: none;


    }

    .hamburger {
        display: block;
        color: white;
    }

    .banner {


        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .banner-title {
        font-size: 50px;
        margin-left: 0;
    }

    .banner-info {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
        margin-top: 30px;

    }

    .banner-img {

        width: 70%;

    }

    .banner .c-350 {
        border: 1px solid rgba(48, 48, 48, 0.54);
        box-sizing: border-box;
        border-radius: 10px;
        position: absolute;
        bottom: 18%;
        left: -30%;
        padding: 5px 20px;
        background-color: rgba(0, 0, 0, 0.37);
        display: flex;
    }

    .banner .c-350 p {
        font-size: 16px;
        color: rgba(239, 237, 232, 0.65);
    }

    .banner .c-350 p span {
        font-size: 20px;
        color: white;
        font-weight: 900;

    }

    .banner .c-500 {
        padding: 5px 10px;
        right: -30%;
    }

    .banner .c-500 p span {

        font-size: 20px;

    }


    /* 2nd part responsive */

    .cyh-cards {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    .cards {
        margin-top: 30px;
    }

    .cyh-title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        
    }


    /* 3rdpart */

    .reme {
        flex-direction: column;
        align-items: center;

    }

    .reme-title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;

    }

    .reme-img {

        width: 100%;
        margin-top: 20px;
    }

    .red-btn {
        width: 50%;
        padding: 20px 40px;
    }

    /* 4thpart */


    .bmi-content {
        flex-direction: column;


    }

    .bmi-chart-title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;
        margin-top: 20px;
    }

    .bmi-forms-title {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;

    }

    .bmi-input input {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        
        padding: 10px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 15px;
        width: 85%;


    }

    .bmi-input {

        
        display: grid;
        grid-template-areas:
            "a b"
            "c d"
            "e e";
        gap: 10px;
        
    }
    /* 5thpart */

    .mot-cards {
        
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
        width: 80%;
    }

    .mot-cards img {
    
        width: 100%;
        
    }
}