@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');


.qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
}

/* 1stpart */
header {

    background-image: linear-gradient(to bottom, #111111, #252525, #111111);
    box-sizing: content-box;
    padding: 30px;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

}

.navbar-left {

    font-size: 36px;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-weight: 800;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(255, 255, 255);
    outline: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 10px 0 0px;
    border-radius: 40px;

}

.hamburger {
    display: none;
}

.banner {
    max-width: 1100px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-info {
    width: 40%;

}

.banner-title {
    font-size: 75px;
    font-weight: 900;
    color: white;
    font-family: Inter;

}

.banner-discription {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-family: inter;

}

.btn-jcn,
.red-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: rgb(230, 83, 60);
    color: white;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.btn-da {
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.banner-img {
    width: 40%;

    position: relative;



}

.banner .c-350 {
    border: 1px solid rgba(48, 48, 48, 0.54);
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    bottom: 18%;
    left: -30%;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    align-items: center;

    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;



}

.banner .c-350 p {
    font-size: 16px;
    color: rgba(239, 237, 232, 0.65);
}

.banner .c-350 p span {
    font-size: 24px;
    color: white;
    font-weight: 900;

}

.playbtn {

    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 50%;


}

.banner .c-500 {
    border: 1px solid rgba(48, 48, 48, 0.54);
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 30%;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.37);


    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}

.banner .c-500 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
}

.banner .c-500 p span {
    font-size: 40px;
    color: white;
    font-weight: 900
}






/* 2ndpart */




.cyh-section {
    background-color: black;
    padding-top: 100px;

}

.cyh-container {
    max-width: 1100px;
    margin: 0 auto;


}

.cyh-title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    font-family: inter;
    margin-bottom: 10px;


}

.cyh-discription {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: inter;
}

.cyh-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;

}

.cyh-cards .cards .title {


    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.cyh-cards .cards .discription {

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

}

.cyh-cards .cards img {
    border-radius: 50%;
    outline: 1px solid cyan;
}




/* 3rdpart */


.reme-container {

    background-color: black;
    padding-top: 80px;
}

.reme {
    max-width: 1100px;
    background-color: rgb(34, 34, 34);
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    



}

.reme-info {}

.reme-title {
    color: white;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 50px;
    font-family: inter;

}

.reme-info .reme-discription {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    font-family: inter;

}



.reme-img {

    width: 40%;

}

.reme-img img {
    width: 100%;
    border-radius: 20px;

}

/* 4thpart */

.bmi-info-container {
    background-color: black;
}

.bmi-info {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;

    padding: 60px 0 150px 0;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.bmi-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-content-container {
    background-color: rgb(34, 34, 34);
}

.bmi-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

}

.bmi-chart-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 40px;
}

.bmi-chart-table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px;
}

.bmi-chart-table th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.bmi-chart-table td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-forms-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    margin: 50px 0 15px 0;
    text-align: center;

}

.bmi-forms-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
}

.bmi-input {


    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e e";
    gap: 10px;
}


.bmi-input input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);

    padding: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;



}

.i-1 {
    grid-area: a;
}

.i-2 {
    grid-area: b;
}

.i-3 {
    grid-area: c;
}

.i-4 {
    grid-area: d;
}

.i-5 {
    grid-area: e;
}

/* 5thpart */


.mot-container {
    background-color: black;
    padding-bottom: 60px;
}

.mot-info {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.mot-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    padding: 90px 0 0 0;
    margin-bottom: 10px;

}

.mot-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.mot-cards {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f";


}

.mot-cards .cards {
    position: relative;

    padding: 20px;
}

.mot-cards img {

    width: 320px;
    height: 270px;
    border: none;
    border-radius: 20px;

}

.mot-cards .t-title {
    font-size: 25px;
    font-family: inter;
    font-weight: 900;
    color: white;
}


.t-info {

    position: absolute;
    bottom: 20%;
    left: 10%;
}

.mot-cards .t-discription {

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.t-1 {
    grid-area: a;
}

.t-2 {
    grid-area: b;
}

.t-3 {
    grid-area: c;
}

.t-4 {
    grid-area: d;
}

.t-5 {
    grid-area: e;
}

.t-6 {
    grid-area: f;
}


/* 6thpart */


.ehf-container {
    background-color: black;

    padding-bottom: 50px;
}

.ehf-main {
    max-width: 1100px;
    margin: 0 auto;



}

.ehf-info {}

.ehf-info .ehf-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.ehf-info .ehf-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.ehf-content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
}

.ehf-content img {
    border-radius: 20px;
    width: 330px;
    height: 230px;

}


/* footerpart */



.footer-container {
    background-color: rgb(34, 34, 34);

}

.footer-main {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.footer-left .fl-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-left .fl-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.fc-title,
.fr-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.fc-discription,
.fr-discription {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
}